* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  background-color: #eeeeee;
  margin: none;
  padding: 0em;
}

.Page {
  text-align: center;
}

/* table related items*/
table,
caption,
tr,
th,
td {
  border-collapse: collapse;
  padding: 0.25rem 0.25rem;
}

td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table {
  width: 50%;
  background-color: #fafafa;
  margin: auto;
}
